# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Node / Development artifacts (if added later)
node_modules/
dist/
artifacts/
cache/
.env

# Archivos temporales de pruebas y compilación intermedia
test_vert.png
poster_horizontal_clean.html
generate_horizontal_assets.py

# Fotos e insumos sin procesar / pesados
assets/edit.png
assets/fuente-udea-1.jpg
assets/fuente-udea-2.jpg
assets/hombrecreadorenergia_1.tiff
assets/eth-glass-crystal.jpg

